<%= form_for @dispensary, html: { autocomplete: :off } do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>