<%= form_for @user, html: { autocomplete: :off } do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation %>
  </p>
  <div class="row">
    <formfield>
      Are you a: <br> <br>
      <input name="userIs" for="userIs" type="radio">Patient</input>

      <input name="userIs" for="userIs" type="radio">Dispensary</input>
    </formfield>
  </div>
  <p>
    <%= f.submit %>
  </p>
<% end %>